#themeToggler {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  background: #835afd;
  height: 45px;
  width: 70px;
  border: 1px solid #835afd;
  border-radius: 10px;
  color: #FFF;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}